@mixin subtopic-circle($horz, $vert)
{
    height: 10em;
    width: 10em;
    border-radius: 50%;
    border-width: 5px;
    transform: translate(10em + $horz, 1em + $vert);
    background-image: linear-gradient(135deg, $body-bg, $subtopic-gradient);

    &:hover
    {
        cursor: pointer;
    }
}

@mixin text-content($padding-top: 33%, $font-size: 2em)
{
    text-align: center;
    font-weight: bold;
    padding-top: $padding-top;
    font-size: $font-size;
    transition: font-size 300ms;
}

.text-content-hover-gen
{
    font-size: 2.10em;
    text-align: center;
    font-weight: bold;
    padding-top: 33%;
    transition: font-size 300ms;
}
.text-content-hover-dicts
{
    font-size: 1.35em;
    text-align: center;
    font-weight: bold;
    padding-top: 39%;
    transition: font-size 300ms;
}
.text-content-hover-funcs
{
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    padding-top: 37%;
    transition: font-size 300ms;
}
.sub-topics-container
{
    opacity: 0;
    transform: scale(0.5);
    transition: all 500ms;
}
.sub-topics-container-disp
{
    opacity: 1;
    transform: scale(1);
    transition: all 500ms;
}
.topic-basics
{
    @include subtopic-circle(0em, 6em);

    .text-content
    {
        @include text-content;
    }
}
.topic-lists
{
    @include subtopic-circle(17em, 8em);

    .text-content
    {
        @include text-content;
    }
}
.topic-strings
{
    @include subtopic-circle(0em, 0em);

    .text-content
    {
        @include text-content;
    }
}
.topic-tuples
{
    @include subtopic-circle(-17em, 8em);

    .text-content
    {
        @include text-content;
    }
}
.topic-classes
{
    @include subtopic-circle(17em, 5em);

    .text-content
    {
        @include text-content;
    }
}
.topic-functions
{
    @include subtopic-circle(0em, 12.5em);

    .text-content
    {
        @include text-content(37%, 1.5em);
    }
}
.topic-dictionaries
{
    @include subtopic-circle(-17em, 5em);

    .text-content
    {
        @include text-content(39%, 1.25em);
    }
}