@import '../css-vars';

@mixin subtopic-circle($horz, $vert)
{
    width: 90%;
    padding-top: 30%;
    padding-bottom: 30%;
    font-weight: bold;
    margin-top: 23vh;
    margin-bottom: 23vh;
    text-align: center;
    border-radius: 50%;
    background-image: linear-gradient(180deg, $body-bg, $subtopic-gradient);
}