@import '../css-vars';

.page-container
{
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: linear-gradient(180deg, rgb(0, 0, 51), rgb(0, 0, 26));
    scroll-behavior: smooth;
    overflow: auto;
    transition: opacity 500ms;
}
.page-container-hide
{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(180deg, rgb(0, 0, 51), rgb(0, 0, 26));
    overflow-y: auto;
    transition: opacity 500ms;
}
.page-content-container
{
    margin: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.788);
    border-radius: 0.5%;
    word-wrap: break-word;
}
.link
{
    color: rgb(0, 140, 255);
    text-decoration: underline;

    &:hover
    {
        cursor: pointer;
    }
}
.content-subtopic
{
    font-size: 1.75em;
    font-weight: bold;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}
.floating-button-container
{
    opacity: 1;
    transition: all 300ms;
}
.floating-button-container-hide
{
    opacity: 0;
    transition: all 300ms;
}
.floating-button
{
    position: fixed;
    z-index: 99999;
    bottom: 30px;
    right: 55px;
    border-radius: 50%;
    border-style: none;
    background-image: linear-gradient(180deg, $body-bg, $subtopic-gradient);
    height: 60px;
    width: 60px;
    box-shadow: 0 0 3px black;
    color: black;
    transition: color 100ms;

    &:hover
    {
        color: rgb(255, 255, 255);
        transition: color 100ms;
    }
}
.code-container
{
    background-color: rgb(0, 24, 61);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 0.9em;

    .string
    {
        color: rgb(0, 255, 0);
    }
    .number
    {
        color: rgb(255, 174, 0);
    }
    .comment
    {
        color: rgb(172, 172, 172);
    }
    .keyword
    {
        color: rgb(236, 232, 0);
    }
    .literal
    {
        color: rgb(255, 0, 0);
    }
    .function-call
    {
        color: rgb(0, 225, 255);
    }
    .keyword-italics
    {
        color:rgb(0, 255, 221);
        font-style: italic;
    }
    .arrow
    {
        color: rgb(182, 76, 0);
    }
    .arg-param
    {
        color: rgb(255, 0, 119);
    }
    .format-keyword
    {
        color:rgb(234, 0, 255);
        font-style: italic;
    }
}
.inline-keyword
{
    color: rgb(236, 232, 0);
    background-color: rgb(0, 24, 61);
    font-size: 0.9em;
    font-family: monospace;
}