$main-circle-bg: rgb(0, 0, 51);
$main-circle-text-color: rgb(245, 245, 255);
$body-bg: rgb(144, 238, 144);
$subtopic-gradient: rgb(80, 255, 89);
$horz-offset: 10em;
$vert-offset: 1em;
$subtopic-font-size: 2em;
$subtopic-default-padding-top: 33%;